# Binary files
Debug/
Release/
x64/
bin/

# Libraries
ising/include/

# Temporary files
__pycache__/
.ipynb_checkpoints/
.vs/
.vscode/

# TensorFlow caches
temp*/
logs/
samples/

# Visual Studio profiles
*.hint
*.vcxproj.user

# Data
*.csv
*.dat
*.json

# TeX auxiliary files
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.fmt
*.log
*.nav
*.out
*.run.xml
*.sav
*.snm
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.xdv

# LaTeX packages
*.cls
*.def
*.sty

# Other folders
docs/plot.temp/
docs/fonts/
ising/data/
ising-exact/
ising-sync/

# Other files
*.ipynb
*.nb
*.png
*.pdf
cloc.bat
docs/chapters/acknowledgements.tex
docs/figures/src/@*
tensorflow/*.jl
