*.aux
*.bak
*.bat
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.fmt
*.log
*.out
*.pdf
*.run.xml
*.sav
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.xdv

*.cls
*.def
*.sty

.vscode/
plot.temp/
figures/src/@*
TODO.md
chapters/acknowledgements.tex
